/*Global Styles*/

body {
    position: relative;
    min-height: 100vh; 
    margin: 0;
    position: relative;
}

.GeneralBody {
    background: #000000;
}

/*Style for Starting Page*/


.StartingTitle {
    font-family: 'Fredericka the Great', cursive;
    font-size: 120px;
    color: #FF0000;
    text-align: center;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.StartingNavLinks {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    gap: 50px;
    font-size: 48px;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: 500;          
    letter-spacing: 0.2em;     
    text-transform: uppercase; 
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.StartingNavLinks a {
    color: #7f0b0b;
    text-decoration: none;
    transition: color 0.3s ease;
}

.StartingNavLinks a:hover {
    color: #FF0000;
}

/*Style for Leaderboard Page*/

.LeaderboardTitle {
    font-family: 'Fredericka the Great', cursive;
    font-size: 100px;
    color: #FF0000;
    text-align: center;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.SubslistHeader {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #7f0b0b;
    display: flex;
    flex-direction: row;
    gap: 250px;
    justify-content: center; 
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;

}

.PlayerSubsList {
    font-family : 'Roboto', sans-serif;
    font-size: 28px;
    color: #7f0b0b;
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: absolute;
    top: 52%;
    left: 27.5%;
    transform: translate(-50%, -50%);
    list-style: none;
}


.TimeSubsList {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #7f0b0b;
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: absolute;
    top: 52%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    list-style: none;
}

.ScoreSubsList {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #7f0b0b;
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: absolute;
    top: 52%;
    left: 71.5%;
    transform: translate(-50%, -50%);
    list-style: none;
}

/*Style for Log In Page*/

.LoginTitle {
    font-family: 'Fredericka the Great', cursive;
    font-size: 100px;
    color:#FF0000;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.LoginBody {
    background-image: url(Assets/ProjectEvangelineLogin.png);
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;  
    height: 100vh;
    margin: 0;
}

.LoginForm {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.LoginLabel {
    font-family: 'Amiri', sans-serif;
    font-size: 24px;
    color: #7f0b0b;
}

.Usernameformitem {
    padding: 6.5px;
    font-size: 18px;
    border: 1.5px solid #7f0b0b;
    background-color: rgb(30, 26, 26);
    border-radius: 6px;
    width: 250px;
}

.Passwordformitem {
    padding: 6.5px;
    font-size: 18px;
    background-color: rgb(30, 26, 26);
    border: 1.5px solid #7f0b0b;
    border-radius: 6px;
    width: 250px;
}

.SignUpButton {
    font-family: 'Amiri', sans-serif;
    font-size: 16px;
    color: #7f0b0b;
    text-align: center;
    margin-top: 6px;
}

.SignUpButton:hover {
    color: #FF0000;
}

.LoginButton {
    font-family: 'Amiri', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #7f0b0b;
    border: 1px solid white;
    border-radius: 7px;
    padding: 6px;
    cursor: pointer;
    width: 200px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LoginButton:hover {
    background-color: #FF0000;
}

/*Style for Starting Bedroom Page*/


.StartingBedroomBody {
    background-image: url(Assets/ProjectEvangelineBedroomPOV.png);
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;  
    height: 100vh;
    margin: 0;
}


/*Dialogue Boxes (Game)*/


#dialogueBox {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 800px;
  background: rgba(0, 0, 0, 0.75);
  border: 2px solid #8b0000;
  border-radius: 12px;
  padding: 30px 24px;
  color: #eee;
  font-family: "Georgia", serif;
  font-size: 1.4rem;
  box-shadow: 0 0 20px rgba(255,0,0,0.2);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#dialogueText {
  margin: 0;
  text-align: left;
}

#dialogueHint {
  margin-top: 10px;
  font-size: 1.2rem;
  opacity: 0.5;
  text-align: left;
  font-style: italic;
}


/*Navigation Arrows (Game)*/

.arrowForward {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  color: rgba(0, 0, 0, 0.75);
  font-size: 6.5rem;
  cursor: pointer;
  text-shadow:
    0 0 6px rgba(255, 0, 0, 0.7),
    0 0 12px rgba(255, 0, 0, 0.5),
    0 0 20px rgba(255, 0, 0, 0.3);

  -webkit-tap-highlight-color: transparent;

  position: absolute;
  top: 35%;
  left: 48%;
  transform: translate(-50%, -50%);

  display: none;
}


.arrowLeft {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  color: rgba(0, 0, 0, 0.75);
  font-size: 6rem;
  cursor: pointer;
  text-shadow:
    0 0 6px rgba(255, 0, 0, 0.7),
    0 0 12px rgba(255, 0, 0, 0.5),
    0 0 20px rgba(255, 0, 0, 0.3);

  -webkit-tap-highlight-color: transparent;

  position: absolute;
  bottom: 30%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.arrowRight {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  color: rgba(0, 0, 0, 0.75);
  font-size: 6rem;
  cursor: pointer;
  text-shadow:
    0 0 6px rgba(255, 0, 0, 0.7),
    0 0 12px rgba(255, 0, 0, 0.5),
    0 0 20px rgba(255, 0, 0, 0.3);

  -webkit-tap-highlight-color: transparent;

  position: absolute;
  bottom: 30%;
  right: 15%;
  transform: translate(-50%, -50%);
}

.arrowBackward {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  color: rgba(0, 0, 0, 0.75);
  font-size: 6.5rem;
  cursor: pointer;
  text-shadow:
    0 0 6px rgba(255, 0, 0, 0.7),
    0 0 12px rgba(255, 0, 0, 0.5),
    0 0 20px rgba(255, 0, 0, 0.3);

  -webkit-tap-highlight-color: transparent;

  position: absolute;
  bottom: 5%;
  left: 48%;
  transform: translate(-50%, -50%);
  display: none;
}

.arrowForward:hover,
.arrowBackward:hover,
.arrowLeft:hover,
.arrowRight:hover {
  color: rgba(255, 0, 0, 1);
}

.arrowForward:active,
.arrowBackward:active,
.arrowLeft:active,
.arrowRight:active {
  color: rgba(0, 0, 0, 0.75);
  text-shadow:
    0 0 6px rgba(255, 0, 0, 0.7),
    0 0 12px rgba(255, 0, 0, 0.5),
    0 0 20px rgba(255, 0, 0, 0.3);
}