/*Global Styles*/

body {
    position: relative;
    min-height: 100vh; 
    margin: 0;
    position: relative;
}

.GeneralBody {
    background: #000000;
}

/*Style for Starting Page*/


.StartingTitle {
    font-family: 'Fredericka the Great', cursive;
    font-size: 120px;
    color: #FF0000;
    text-align: center;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.StartingNavLinks {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    gap: 50px;
    font-size: 48px;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: 500;          
    letter-spacing: 0.2em;     
    text-transform: uppercase; 
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.StartingNavLinks a {
    color: #7f0b0b;
    text-decoration: none;
    transition: color 0.3s ease;
}

.StartingNavLinks a:hover {
    color: #FF0000;
}

/*Style for Leaderboard Page*/

.LeaderboardTitle {
    font-family: 'Fredericka the Great', cursive;
    font-size: 100px;
    color: #FF0000;
    text-align: center;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.SubslistHeader {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #7f0b0b;
    display: flex;
    flex-direction: row;
    gap: 250px;
    justify-content: center; 
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;

}

.PlayerSubsList {
    font-family : 'Roboto', sans-serif;
    font-size: 28px;
    color: #7f0b0b;
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: absolute;
    top: 52%;
    left: 27.5%;
    transform: translate(-50%, -50%);
    list-style: none;
}


.TimeSubsList {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #7f0b0b;
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: absolute;
    top: 52%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    list-style: none;
}

.ScoreSubsList {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #7f0b0b;
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: absolute;
    top: 52%;
    left: 71.5%;
    transform: translate(-50%, -50%);
    list-style: none;
}

/*Style for Log In Page*/

.LoginTitle {
    font-family: 'Fredericka the Great', cursive;
    font-size: 100px;
    color:#FF0000;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.LoginBody {
    background-image: url(Bedroom3rdpersp.jpg);
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;  
    height: 100vh;
    margin: 0;
}

.LoginForm {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.LoginLabel {
    font-family: 'Amiri', sans-serif;
    font-size: 24px;
    color: #7f0b0b;
}

.Usernameformitem {
    padding: 6.5px;
    font-size: 18px;
    border: 1.5px solid #7f0b0b;
    background-color: white;
    border-radius: 6px;
    width: 250px;
}

.Passwordformitem {
    padding: 6.5px;
    font-size: 18px;
    background-color: white;
    border: 1.5px solid #7f0b0b;
    border-radius: 6px;
    width: 250px;
}

.SignUpButton {
    font-family: 'Amiri', sans-serif;
    font-size: 16px;
    color: #7f0b0b;
    text-align: center;
    margin-top: 6px;
}

.SignUpButton:hover {
    color: #FF0000;
}

.LoginButton {
    font-family: 'Amiri', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #7f0b0b;
    border: 1px solid white;
    border-radius: 7px;
    padding: 6px;
    cursor: pointer;
    width: 200px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LoginButton:hover {
    background-color: #FF0000;
}